---
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  hoverImage: ImageMetadata;
  title: string;
  ref: string;
}

const { image, hoverImage, title, ref } = Astro.props;
const imageAlt = `${title} picture`;
const hoverImageAlt = `${title} hovered`;
---

<style>
  .block {
    scroll-margin-top: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--rose);
    border-radius: 16px;
  }

  .imageWrapper {
    width: 64px;
    height: 64px;
    position: relative;
  }

  .header-image {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .header-image-hover {
    position: absolute;
    opacity: 0%;
    height: 100%;
    width: 100%;
  }

  .block:hover {
    outline-color: var(--myWhite);
    outline-width: 2px;
    color: var(--glow);
  }

  .block:hover .header-image {
    opacity: 0;
  }
  .block:hover .header-image-hover {
    opacity: 1;
  }
</style>

<a class="block" href={`#${ref}`} name={ref}>
  <div class="imageWrapper">
    <Image alt={imageAlt} src={image} class="header-image" />
    <Image alt={hoverImageAlt} src={hoverImage} class="header-image-hover" />
  </div>

  <h2 style="margin-left: 4px;">{title}</h2>
</a>
